APP_NAME="Baha Lanches"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

# Conexao principal: PostgreSQL (Requisito Oficial da Disciplina)
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=bahalanches
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SSLMODE=prefer

# Alternativa rapida local (SQLite): descomente abaixo caso nao queira usar PostgreSQL local
# DB_CONNECTION=sqlite
# DB_DATABASE=database/database.sqlite

SESSION_DRIVER=file
CACHE_STORE=file
SESSION_SECURE_COOKIE=false
SESSION_SAME_SITE=lax

WHATSAPP_NUMBER=5542999999999
